<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/api/Admin/LAdmin">Consultation</a>
            <a class="navbar-brand" href="/api/Admin/LAdmin">Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
<div class="container my-5 py-5">
    <div class="col-md-5 m-auto card p-5 text-center">
        <h3 class="text-center">Login</h3>
        <hr>
        <form action="/handleLogin" method="POST">
            <div class="form-group">
                <input placeholder="Enter email" name="email" type="email" class="form-control" />
            </div>
            <div class="form-group">
                <input placeholder="confirm Password" name="password" type="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-info w-100">SignIn</button>
        </form>
    </div>
</div>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>